{% extends 'base.html.twig' %}

{% block title %}Ajouter une Donation{% endblock %}

{% block body %}
    {% block header %}
        {{ parent() }}

    {% endblock %}
    <div style="margin : 10rem 10rem;">
    <h1>Ajouter une Donation</h1>

    {{ include('donation/_form.html.twig') }}

    <a href="{{ path('app_donation_index') }}">Retourner à la liste</a>
{% block js %}
    {{ parent() }}
{% endblock %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.js"></script>

    <script>

        $('.dateselect').datepicker({
            format: 'yyyy-mm-dd',
            orientation: 'bottom'
        });
    </script>
    </div>

    {% block footer %}
        {{ parent() }}
    {% endblock %}
{% endblock %}

