{% extends 'base.html.twig' %}

{% block title %}Reclamation{% endblock %}

{% block body %}
    {% block header %}
        {{ parent() }}
    {% endblock %}
    <h1>Reclamation item back</h1>

    <table class="table" style="color : #F9F9F9;">        <tbody>
        <tr>
            <th >Id</th>
            <td>{{ reclamation.id }}</td>
        </tr>
        <tr>
            <th>Sujet</th>
            <td>{{ reclamation.sujet }}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ reclamation.description }}</td>
        </tr>
        <tr>
            <th>Attachement</th>
            <td> <img src="{{ asset('uploads/images/products/' ~ reclamation.getAttachement())  }}" height="100" width="100"></td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ reclamation.email }}</td>
        </tr>
        <tr>
            <th>NumeroTel</th>
            <td>{{ reclamation.numeroTel }}</td>
        </tr>
        <tr>
            <th>Status</th>
            <td>{{ reclamation.status }}</td>
        </tr>
        <tr>
            <th>Object</th>
            <td>{{ reclamation.object }}</td>
        </tr>
        </tbody>
    </table>

    <a href="{{ path('app_rec') }}">back to list</a>

    {#    <a href="{{ path('app_reclamation_edit', {'id': reclamation.id}) }}">edit</a>#}

    {{ include('reclamation/_delete_form.html.twig') }}
    {% block footer %}
        {{ parent() }}
    {% endblock %}
{% endblock %}
